{%if collection.length%}
<div class="path">
{%each collection.models.0.attributes.root|buttons as path%}
  <a
  href="#repository/{{ collection.repo.id }}/{{ collection.repo.get 'branch' }}/tree/{{ path.abs }}"
  data-path="{{ path.abs }}"
  class="btn btn-path btn-sm directory">{{ path.rel }}</a>
  <span class="sep">/</span>
{%endeach%}

  <div class="switch">
    <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" 
    
    {%if showHidden%}checked="checked"{%endif%}>
    <label for="cmn-toggle-4"></label>
    <div class="text">Show Ignored</div>
  </div>
</div>

<a class="menu-item commit_message">
  {{{ model.commit.oneline }}}
</a>

{%if collection.models.0.get 'root'%}
<div class="menu-item commit_details">
  <img class="avatar avatar-small" src="http://www.gravatar.com/avatar/{{ model.commit.hash }}" width="20" height="20">
  {{ model.commit.attributes.author.name }} <span class="commit_date">authored {{ model.commit.get 'date' }}</span>
  <span class="latest_commit">
    latest commit <span class="commit_sha">{{ model.commit.attributes.sha|slice 0 10 }}</span>
    <span class="octicon octicon-clippy"></span>
  </span>
</div>

<div class="menu-item">
  <div class="container">
    <div class="columns">
      <div class="column one-column">
        <span class="octicon octicon-file-directory"></span>
        <a 
          class="directory"
          data-path="{{ collection.models.0.attributes.root|up }}"
          href="#repository/{{ collection.repo.id }}/{{ collection.repo.get 'branch' }}/tree/{{ collection.models.0.attributes.root|up }}">../</a>
      </div>
    </div>
  </div>
</div>
{%endif%}
{%endif%}

{%each collection.toJSON as entry%}
<div class="menu-item {%if entry.isIgnored%}ignored{%endif%} {{ entry.absolute|getDiff collection.repo }}">
  <div class="container">
    <div class="columns">
      <div class="column one-third">
        {%if entry.isDirectory%}
        <span class="octicon octicon-file-directory"></span>
        {%else%}
        <span class="octicon octicon-file-text"></span>
        {%endif%}

        <a 
          class="{%if entry.isDirectory%}directory{%else%}file{%endif%}
                 {%if entry.absolute|getDiff collection.repo != ''%} tooltipped tooltipped-n{%endif%}" 
          {%if entry.absolute|getDiff collection.repo != ''%}
          aria-label="{{ entry.absolute|getDiff collection.repo|toTitleCase }}"
          {%endif%}
          data-path="{{ entry.absolute }}"

          {%if entry.isDirectory%}
          href="#repository/{{ collection.repo.id }}/{{ collection.repo.get 'branch' }}/tree/{{ entry.absolute }}">
          {%else%}
          href="#repository/{{ collection.repo.id }}/{{ collection.repo.get 'branch' }}/blob/{{ entry.absolute }}">
          {%endif%}
            {{ entry.path }}
        </a>
      </div>

      <div class="column two-thirds">
        <a href="#" class="message" title="{{ model.commit.oneline }}">{{ model.commit.oneline|slice 0 50 }}...</a>
        <span class="date">{{ model.commit.get 'date' }}</span>
      </div>
    </div>
  </div>
</div>
{%endeach%}
