{%partial partials/header .%}

<div class="container clearfix">
  <div>
    <a href="#">All repositories</a>
    <span class="octicon octicon-chevron-right sep"></span>
    <a href="#repository/{{ model.id }}"><span class="count">{{ model.get 'name' }}</span></a>
  </div>
</div>

<hr>

<div class="container">
  <div class="tabnav">
    <nav class="tabnav-tabs">
      <a class="tabnav-tab selected">{%--Working tree
        
        <span class="down octicon octicon-triangle-down"></span>
        --%}

        <select class="branch" placeholder="Select a branch">
          <option value="~workdir">Working directory</option>

          {%each model.get 'branches' as branch%}
          <option {%if model.attributes.branch == branch|stripRef%}selected{%endif%} value="{{ branch|stripRef }}">{{ branch|stripRef }}</option>
          {%endeach%}
        </select>
      </a>
      <a href="#" class="tabnav-tab">Stashed</a>
    </nav>
  </div>
  <div class="columns">
    <div class="three-fourths column">
      <nav class="menu {%if collection.showHidden%}show-hidden{%endif%} files">

        <div class="outlet"></div>
      </nav>

      <nav class="menu">
        <span class="menu-heading">README.md</span>

        <span class="menu-item readme markdown-body">
        {{{ model.get 'readme' }}}
        </span>
      </nav>
    </div>

    <div class="one-fourth column">
      <nav class="menu">
        <a class="menu-item selected" href="#">
          <span class="octicon octicon-code"></span>
          Code
        </a>
        <a class="menu-item" href="#">
          <span class="octicon octicon-git-branch"></span>
          <span class="counter">{{ model.attributes.branches.length }}</span>
          Branches
        </a>
        <a class="menu-item" href="#">
          <span class="octicon octicon-tag"></span>
          <span class="counter">{{ model.get 'tags' }}</span>
          Tags
        </a>
        <a class="menu-item" href="#">
          <span class="octicon octicon-book"></span>
          <span class="counter">{{ model.get 'notes' }}</span>
          Notes
        </a>
        <a class="menu-item"
          href="#repository/{{ model.id }}/{{ model.get 'branch' }}/commits">
          <span class="octicon octicon-git-commit"></span>
          <span class="counter">{{ model.get 'commits' }}</span>
          Commits
        </a>
      </nav>
    </div>
  </div>
</div>
