<nav class="menu files">
  {%each . as commit%}
  <a class="menu-item commit_item">
    <img class="avatar avatar-small" src="http://www.gravatar.com/avatar/{{ commit.hash }}" width="36" height="36">
    <strong>{{ commit.oneline|slice 0 75 }}</strong>
    <p>{{ commit.attributes.author.name }} authored {{ commit.get 'date' }}</p>

    <div class="btn-group">
      <a href="/api/{{ commit.repo }}/"><button class="btn btn-outline sha" type="button" data-full="{{ commit.get 'sha' }}">{{ commit.attributes.sha|slice 0 12 }}</button></a>
      <button class="btn btn-outline code" type="button"><span class="octicon octicon-code"></span></button>
    </div>
  </a>
  {%endeach%}
</nav>
