.code {
  background-color: #FFF;
  overflow-x: auto;
}

.code:hover {
  background-color: #FFF;
}

code {
  line-height: 17px;
  width: 100%;
  tab-size: 2;
}

pre .line span {
  white-space: nowrap;
}

pre {
	counter-reset: linecounter;
  width: 100%;
}

pre .line {
	counter-increment: linecounter;
  transition: background-color ease-in .2s;
  width: 100%;
  white-space: pre;
}

pre .line:before {
  padding-top: 3px;
	content: counter(linecounter);
	width: 3em;
	display: inline-block;
  padding-right: 8px;
  margin-right: 8px;
  text-align: right;
	border-right: 1px solid #EEEEEE;
  color: #A6A6A6;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.line.active, .line:hover {
  background-color: #FFF6CB;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
